* {
	font-family: 'Work Sans', sans-serif
}

.font-color1 {
	color: #868797;
}

.font-color2 {
	color: #B6B7C6;
}

.font-color3 {
	color: #EAEAEE;
}

.font-green {
	color: #88D9A2;
}

.font-red {
	color: #EE6352;
}

.font-grey {
	color: #EAEAEE;
}

.font-size1 {
	font-size: 14px;
	line-height: 16px;
}

.font-size2 {
	font-size: 12px;
	line-height: 14px;
}

.font-size3 {
	font-size: 10px;
	line-height: 24px;
}

.bg-color1 {
	background: #002C9F!important;
}